// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.nav_div:last-child {
	margin-left: 30px;
}

a:visited {
	color: #993322;
}

a:link {
	color: #cc3300;
}

.active_page {
//	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #777;
	-webkit-text-decoration-color: #777;
	-blink-text-decoration-color: #777;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	flex: 1;
}

.not_active_page {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	flex: 1;
}

.index_left_indent {
	margin-left: 5%;
	padding-top: $spacing-unit / 2;
}

.index_left_indent:first-child {
	padding-top: 0;
}

.index_item_title {
	margin-bottom: $spacing-unit / 2;
}

.index_title {
	margin-bottom: 0;
}

.metadata {
	font-size: $small-font-size;
}

.index_item_content {
	padding-left: 5%;
}
