// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

blockquote {
	border-left-width: 0;
	margin-left: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	color: $text-color;
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	background-color: #F5F5F5;
}

p {
	padding-left: 5%;
}

blockquote > p {
	padding-left: 0;
}

.nav_div {
	padding-left: 10px;
	padding-right: 10px;
}

.nav_div:last-child {
	margin-left: 30px;
}

a:visited {
	color: #993322;
}

a:link {
	color: #cc3300;
}

.active_page {
//	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #777;
	-webkit-text-decoration-color: #777;
	-blink-text-decoration-color: #777;
	display: inline;
	flex: 1;
}

.not_active_page {
	display: inline;
	flex: 1;
}

.index_left_indent {
	padding-top: $spacing-unit / 2;
	overflow: hidden;
}

.index_left_indent:first-child {
	padding-top: 0;
}

.index_item_title {
	margin-bottom: $spacing-unit / 2;
	display: inline-block;
}

.no_break_title {
	margin-bottom: 0;
}

.index_title {
	margin-bottom: 0;
}

.metadata {
	font-size: $small-font-size;
}

.index_item_content {
	padding-left: 5%;
}

p.feed-subscribe {
	text-align: right;
}

.inline {
	display: inline;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-unit / 6;
	max-width: 90%;
}

.footer-col p {
	padding-left: 0;
}

@media screen and (max-width: $on-medium) {
	p img {
		max-width: 94.7%;
		margin-right: auto;
		margin-left: 0;
	}

	.footer-col {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-col p {
		text-align: center;
	}

	.nav_div {
		display: block;
	}

	.nav_div a {
		margin-left: 0;
	}

	.nav_div:last-child {
		margin-top: 20px;
	}
}

.excerpt_image {
	display: inline-block;
	width: 33%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: $spacing-unit / 2;
	float: right;
	@media screen and (max-width: $on-medium) {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

img + em {
	display: block;
	text-align: center;
	font-size: 90%;
}

blockquote em {
	font-style: italic;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: $spacing-unit / 2;
}

li p {
	padding-left: 0;
}

ul, ol {
	padding-left: 5%;
}

.collection_title {
	display: inline-block;
}

.index_whole_title {
	display: flex;
	justify-content: space-between;
}

.index_whole_title h2 {
	opacity: 0.6;
	padding-left: 25px;
}

.site-nav {
	@media screen and (max-width: $on-medium) {
		z-index: 1;
	}
}

.highlight {
	margin-left: 5%;
	margin-right: 5%;
}

.highlight pre {
	border-width: 0;
	padding: 0;
}

code table {
	border-width: 0;
	font-family: "Iosevka Term Slab Light";
}

code table tbody tr td {
	border-width: 0;
}

code table tbody tr td:first-child {
	border-right-style: solid;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-width: 2px;
	border-color: #ddd;
}	

.read_more_link {
	padding-left: 5%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

object {
	margin-left: 5%;
}
